In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs

## Справочник регионов

In [2]:
regions_json = requests.get('https://api.hh.ru/areas').json()

In [3]:
areaDict = {}
subareaArr = []

for i in range(len(regions_json)):
    id_ = regions_json[i]['id']
    name_ = regions_json[i]['name']
    areas_ = regions_json[i]['areas']
    areaDict[name_] = id_
    
    for j in range(len(areas_)):
        subid_ = areas_[j]['id']
        subname_ = areas_[j]['name']
        subareaArr.append([id_, subid_, subname_])
    
    print(f'{name_} - {id_}')
    
subareaArr = np.array(subareaArr)

Россия - 113
Украина - 5
Казахстан - 40
Азербайджан - 9
Беларусь - 16
Грузия - 28
Другие регионы - 1001
Кыргызстан - 48
Узбекистан - 97

In [4]:
areaDict

{'Россия': '113',
 'Украина': '5',
 'Казахстан': '40',
 'Азербайджан': '9',
 'Беларусь': '16',
 'Грузия': '28',
 'Другие регионы': '1001',
 'Кыргызстан': '48',
 'Узбекистан': '97'}

In [5]:
subareaArr[subareaArr[:, 2] == 'Москва']

array([['113', '1', 'Москва']], dtype='<U40')

## Парсер резюме

In [6]:
# HeadHunter API - https://github.com/hhru/api
# как искать совпадения - https://hh.ru/article/309400

headers = {'accept': '*/*',
           'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36'
          }

area = subareaArr[subareaArr[:, 2] == 'Москва'][0][1] # Москва
text = 'data+scientist'

base_url = 'https://hh.ru/search/resume?L_is_autosearch=false&area={}' \
            '&clusters=true&exp_company_size=any&exp_industry=any&exp_period=all_time' \
            '&logic=normal&no_magic=false&order_by=publication_time&pos=position' \
            '&text={}&items_on_page=20&page='.format(area, text)

data = []

def hh_parser(base_url, headers):
    session = requests.Session()
    page = 0
    while True:
        request = session.get(base_url+str(page), headers=headers)
        if request.status_code == 200:
            soup = bs(request.content, 'html.parser')
            divs = soup.find_all('div', attrs={'class': 'resume-search-item__content-wrapper'})
            if len(divs) == 0:
                print(f"page {page} doesn't exist")
                break
            else:
                print(f'page {page} contains {len(divs)} resume')
                page += 1
                
            for div in divs:
                try:
                    title = div.find('a', attrs={'data-qa': 'resume-serp__resume-title'}).text
                    href = div.find('a', attrs={'data-qa': 'resume-serp__resume-title'})['href']
                    age = div.find('span', attrs={'data-qa': 'resume-serp__resume-age'}).text
                    sum_exper = div.find('div', attrs={'data-qa': 'resume-serp__resume-excpirience-sum'}).text
                    last_updated = div.find('div', attrs={'class': 'output__addition'}).text.split('•')[0].replace('Обновлено', '').strip()
                    data.append([title, age, sum_exper, last_updated, href])
                except:
                    pass
        else:
            print('ERROR')
            break
        
        
hh_parser(base_url, headers)

page 0 contains 20 resume
page 1 contains 20 resume
page 2 contains 20 resume
page 3 contains 20 resume
page 4 contains 20 resume
page 5 contains 20 resume
page 6 contains 20 resume
page 7 contains 20 resume
page 8 contains 20 resume
page 9 contains 20 resume
page 10 contains 20 resume
page 11 contains 20 resume
page 12 contains 20 resume
page 13 contains 20 resume
page 14 contains 20 resume
page 15 contains 20 resume
page 16 contains 20 resume
page 17 contains 20 resume
page 18 contains 20 resume
page 19 contains 20 resume
page 20 contains 20 resume
page 21 contains 20 resume
page 22 contains 20 resume
page 23 contains 8 resume
page 24 doesn't exist

In [7]:
df = pd.DataFrame(data=data, columns=['title', 'age', 'total_experience', 'last_updated', 'href'])
df

,title,age,total_experience,last_updated,href
0,"Стажер - Машинное обучение и анализ данных, Da...",33 года,9 лет,"4 января, 12:22",/resume/af878eeb0000c17db20039ed1f724658777871...
1,junior data scientist,22 года,4 месяца,"4 января, 11:01",/resume/86cd165a00076d6f1b0039ed1f6b7148694f70...
2,"Data Scientist, Machine learning Engineer ,Dat...",57 лет,35 лет и 5 месяцев,"4 января, 10:28",/resume/71c408d00005ee05990039ed1f6d623336584a...
3,Data Scientist,54 года,19 лет и 4 месяца,"4 января, 10:07",/resume/b406f1d9000391cb440039ed1f746768583675...
4,Data Scientist / Machine learning engineer,28 лет,5 лет и 8 месяцев,"4 января, 09:18",/resume/bc84ec6f00078ee62b0039ed1f583072593161...
5,"Программист, аналитик, data scientist",29 лет,6 лет и 4 месяца,"4 января, 08:32",/resume/d669d33f00056f178a0039ed1f7774706a3449...
6,Junior Data Scientist,26 лет,1 год и 3 месяца,"4 января, 08:21",/resume/ae0f0bd600060836540039ed1f6d3534346931...
7,"Data Scientist, ML, NLP, Проектировщик аналити...",50 лет,26 лет и 1 месяц,"4 января, 05:39",/resume/7e0f394a00025084800039ed1f646831635262...
8,Junior Data Scientist | Data Analyst | Quantit...,25 лет,1 год и 11 месяцев,"4 января, 00:48",/resume/0cebc8f900074a05af0039ed1f387a686e6478...
9,Data Scientist,37 лет,12 лет и 8 месяцев,"3 января, 19:38",/resume/f57bffde000776e0520039ed1f6c5853464750...
10,Data scientist (junior),23 года,2 года и 1 месяц,"3 января, 15:37",/resume/ecae273800062ac18e0039ed1f775079696f52...
11,Junior Data Scientist,20 лет,1 год и 7 месяцев,"3 января, 15:19",/resume/d81fb0670005eacae90039ed1f335449457956...
12,Data Scientist/Researcher,23 года,2 года и 5 месяцев,"3 января, 14:03",/resume/6630afc80002c0b7020039ed1f48694f457131...
13,Data Scientist / Аналитик Данных / Data Analyst,23 года,1 год и 3 месяца,"3 января, 11:56",/resume/aba7a6cb0001e681860039ed1f51715645794a...
14,"Data-Scientist, Data Analyst",21 год,2 года и 3 месяца,"3 января, 11:46",/resume/38891ce80006d4b70b0039ed1f4b6767797278...
15,Data Scientist | Deep Learning,25 лет,9 месяцев,"3 января, 10:19",/resume/29b336b300079ae8790039ed1f6a55336a6738...
16,"Junior Data Scientist, программист C++/Python",26 лет,3 года и 5 месяцев,"3 января, 05:15",/resume/a042a3260001f3cfa70039ed1f32414658507a...
17,"Руководитель отдела (Аналитик SQL, BI / Data S...",31 год,9 лет и 7 месяцев,"3 января, 01:39",/resume/53ec8931000109e2690039ed1f4e6136565334...
18,Data scientist,34 года,7 лет и 8 месяцев,"2 января, 23:02",/resume/18b00ec000075026800039ed1f35795a475757...
19,Junior Data Scientist,20 лет,3 месяца,"2 января, 22:16",/resume/f5cb6a670006d656bf0039ed1f525451576339...
20,Data Scientist,35 лет,11 месяцев,"2 января, 16:43",/resume/7b3bb52800071d5ae80039ed1f6753436b3031...
21,data scientist(specialist or junior),34 года,10 лет и 5 месяцев,"1 января, 18:56",/resume/71b85c940007871a380039ed1f357158386e36...
22,Data scientist,30 лет,4 года и 8 месяцев,"1 января, 11:09",/resume/973f1c3b0005d4827f0039ed1f35774f56486d...
23,Data scientist,25 лет,4 года и 4 месяца,"1 января, 09:07",/resume/b946a75a00035a636b0039ed1f79716c52725a...
24,Data Scientist,24 года,4 месяца,"31 декабря 2019, 11:57",/resume/50efff97000715f2120039ed1f51615a354b4d...
25,Data Scientist,27 лет,3 года и 5 месяцев,"31 декабря 2019, 10:57",/resume/7bfa779e000758bfd90039ed1f766551326557...
26,Data Scientist,29 лет,10 лет и 6 месяцев,"31 декабря 2019, 08:34",/resume/a1ea66150002baf3350039ed1f32417844356b...
27,Data scientist,23 года,3 года и 3 месяца,"31 декабря 2019, 00:15",/resume/b7703e76000305d7840039ed1f61334f58646f...
28,Data Scientist,25 лет,2 года и 10 месяцев,"30 декабря 2019, 13:04",/resume/b539fab000029743870039ed1f6d4c62434174...
29,Data Scientist,24 года,1 год,"30 декабря 2019, 10:56",/resume/5b7a41d10005ec62620039ed1f67415a357379...
...,...,...,...,...,...
377,"data scientist, Python программист",23 года,1 месяц,"17 июня 2017, 07:14",/resume/9a5332c200028a63cf0039ed1f50746d674632...
378,Data Scientist,34 года,12 лет и 7 месяцев,"6 июня 2017, 15:23",/resume/b6ec8ff80003ca6c4a0039ed1f47367533354e...
379,"Data scientist, аналитик данных, исследователь...",31 год,10 лет и 5 месяцев,"25 мая 2017, 11:46",/resume/c87e896e00032c33be0039ed1f4f394b4b7067...
380,Data Scientist,37 лет,10 лет и 11 месяцев,"12 мая 2017, 15:43",/resume/8660d281000311aa5b0039ed1f615370394549...
381,Data scientist,29 лет,9 лет и 7 месяцев,"3 апреля 2017, 08:31",/resume/7cc6925a000350ba8c0039ed1f4173376d617a...
382,Data Scientist,27 лет,5 лет и 2 месяца,"31 марта 2017, 12:03",/resume/d6d5c4810001190f220039ed1f524a41376771...
383,Data Scientist / Математик-аналитик,23 года,4 года и 8 месяцев,"24 марта 2017, 22:42",/resume/641a766700039bd60c0039ed1f6b6641416d38...
384,Data Scientist,30 лет,8 лет и 10 месяцев,"8 марта 2017, 20:30",/resume/f4e28ed300039d2e880039ed1f6b4d4f663546...
385,Data scientist,30 лет,8 лет и 5 месяцев,"1 февраля 2017, 10:01",/resume/a732a1b700038f92610039ed1f5a5a4d697730...
386,Senior Data Scientist,34 года,9 лет и 4 месяца,"31 января 2017, 18:33",/resume/c7cc466300031b866d0039ed1f384f68346677...
387,"Аналитик, data scientist, Инженер-математик",26 лет,5 лет и 9 месяцев,"30 января 2017, 11:06",/resume/2af06b4300030a3ec50039ed1f655134555a49...
388,Data Scientist,29 лет,2 года,"29 января 2017, 16:20",/resume/3caf3cca00038614790039ed1f63736d695236...
389,Data Scientist/ Data Analyst,,7 лет и 4 месяца,"11 декабря 2016, 07:14",/resume/b6859ee7000378d8460039ed1f564245547944...
390,Data Scientist,36 лет,11 лет и 1 месяц,"14 сентября 2016, 20:55",/resume/51d0483900034af8970039ed1f4d373237784b...
391,Data Scientist (Аналитик),40 лет,8 лет и 9 месяцев,"31 августа 2016, 16:58",/resume/06a272cb0002cc30890039ed1f475446545a76...
392,Research scientist / data analyst / quantitati...,34 года,11 лет и 11 месяцев,"14 августа 2016, 03:58",/resume/00a9625a0001a690090039ed1f757163596f51...
393,Lead Data Scientist,29 лет,8 лет и 4 месяца,"3 августа 2016, 11:48",/resume/aa5737f90001120be70039ed1f7a5272395737...
394,"Data Scientist, Data Processing Specialist, So...",29 лет,7 лет и 8 месяцев,"1 июля 2016, 00:20",/resume/d3eeac100002e6759b0039ed1f774e6b6c334a...
395,R&D Scientist/ Cell Biologist/ Gene Variant cu...,41 год,15 лет и 10 месяцев,"12 мая 2016, 20:39",/resume/749bf90a000125daf30039ed1f4c6c4d744b78...
396,Data scientist,23 года,5 лет и 7 месяцев,"5 мая 2016, 19:11",/resume/b366676b0003144e850039ed1f33434167494d...
397,Data Scientist,24 года,5 месяцев,"23 апреля 2016, 07:28",/resume/25bd58cf00030546d10039ed1f374863687456...
398,Data Scientist,34 года,2 года и 8 месяцев,"14 февраля 2016, 07:08",/resume/143a7b9d0002f0b19b0039ed1f7a536a6e7a43...
399,Senior data scientist / Head of department,47 лет,24 года и 7 месяцев,"6 декабря 2015, 16:43",/resume/1cc38b110002d609a10039ed1f353775517136...
400,Data scientist,33 года,6 лет и 4 месяца,"27 ноября 2015, 13:46",/resume/6984d28300029b7a8a0039ed1f576868567368...
401,Data Scientist / Data Analyst,,7 лет и 4 месяца,"26 ноября 2015, 10:16",/resume/a78f5efb00020bd6af0039ed1f65694d646e62...
402,Data scientist/Developer,25 лет,2 года и 7 месяцев,"9 ноября 2015, 00:56",/resume/f3c9ab450001939c7c0039ed1f716d4a314233...
403,Internship for a final-year student (barely gr...,27 лет,2 месяца,"14 сентября 2015, 21:59",/resume/f0291f780002afe2c10039ed1f7a56684a4d43...
404,Data scientist,31 год,9 лет и 4 месяца,"13 августа 2015, 09:06",/resume/2080035400007c389e0039ed1f736563726574...
405,"Data Scientist (data mining, forecasting, mach...",28 лет,3 года и 8 месяцев,"10 августа 2015, 09:42",/resume/f7e773d7000286e61d0039ed1f716c52413463...
406,Data Scientist,27 лет,6 месяцев,"21 августа 2014, 13:32",/resume/5cf4fc5f0001cd9e1d0039ed1f376748716c6e...